<div mat-dialog-title>
    <div *ngIf="data['OpenViduErrorName']" style="color: #a30101;">
        {{data['OpenViduErrorName']}}
    </div>
</div>

<mat-dialog-content>
    <div *ngIf="data['OpenViduErrorName']; else planeMessage">
        {{data['message']}}
    </div>
    <ng-template #planeMessage>
        <i>
            <mat-icon color="accent" style="vertical-align: -5px;margin-right: 5px;">help_outline</mat-icon>
            {{data['message']}}
        </i>
    </ng-template>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close style="background-color: #cfcabe;" *ngIf="data['cancelBtn']">{{data['cancelBtnText']}}</button>
    <button mat-flat-button [mat-dialog-close]="true" style="background-color: #1890ff;" *ngIf="data['okBtn']">{{data['okBtnText']}}</button>
</mat-dialog-actions>